@import "tailwindcss";
@plugin "daisyui";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


*{
      font-family: "Poppins", sans-serif;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color-base-200 : #f3f3f3;
  --color-base-300 : #e7e7e7;
  --color-accent : #706f6f;
}

a.active{
  @apply bg-base-300
}


.my-btn{
    @apply  btn w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white font-semibold border-none hover:scale-105 transition-transform duration-200;
}